(ns sample-app.core
  (:gen-class)
  (:require extraction))

(defn -main []
  (let [
    result Main/%%example-name%%-main
    expected-result '(:Coq-Init-Datatypes-true)]
  (if (= result expected-result)
    (println "%%example-name%%: ok")
    (println "%%example-name%%: error: expected" expected-result "but got" result))))